@font-face {
	font-family: 'Decima Mono';
	src: url('/fonts/decima-mono.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Favorit Pro Book';
	src: url('/fonts/FavoritPro-Book.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Favorit Pro Medium';
	src: url('/fonts/FavoritPro-Medium.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Favorit Pro Regular';
	src: url('/fonts/FavoritPro-Regular.ttf') format('truetype');
	font-display: swap;
}